

footer{
    text-align: center;
    background: #323232;
    color: #fff;
    padding: 30px;
}
footer i{
    padding: 5px;
    font-size: 30px;
    color: #fff;
}

i:hover{
    color: #11b494;
}
footer p:hover{
    background-color: #323232;
    color: #fff;
}

footer p{
    display: inline;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 300px;
}

@media screen and (max-width: 600px){
    footer p{
        grid-template-columns: 1fr;        
        display: inline;
    }

    footer{
        padding: 30px;
        font-size: 14px;
        height: 20vh;
    }
    footer i{
        padding: 25px;
        font-size: 14px;
        color: #fff;
    }
    
    footer i:hover{
        color: #11b494;
    }
    footer p:hover{
        background-color: #323232;
        color: #fff;
    }    

}
    