

footer{
    text-align: center;
    background: #323232;
    color: #fff;
    padding: 30px;
}
footer i{
    padding: 5px;
    font-size: 30px;
    color: #fff;
}

i:hover{
    color: #11b494;
}
footer p:hover{
    background-color: #323232;
    color: #fff;
}

footer p{
    display: inline;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 300px;
}

